*.aif
*.aiff
*.wav
.DS_store
exp/
*.audulus
samples
tidal
reaktor
images
sc-tennis
ref
todo
workspaces
*.mov
*.pdf
bandcamp
bitwig
droptableuser-tracks
*.jks
orca
projects
rack
*.db
soundcloud
*.RTrackTemplate
valhalla
deprecated
*.vpreset

